/* General styles */
html, 
body {
	font-family: "Open Sans", Verdana, Arial; 
  font-size: 16px;
  border: 0;
  margin: 0;
  padding: 0;
}

p {
  color: #515151;
  text-align: center;
  font-size: 20px;
}

a {
  text-decoration: none;
  color:#515151;
}

  .title {
    text-align: center;
    font-size: 3.5rem;
    padding: -1rem 0rem 2rem 0rem;
    margin: 0rem 0rem 2rem 0rem ;
    color: #48C0D6;   
  }
/* End of General styles */


/* Navigation menu */
.nav {
  background: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 1px 6px 28px #efefef;
}

.nav .article {
  display: inline-block;
  width: 10rem;
  padding: 1rem 1.3rem;
  text-align: center;
  color:#515151;
  font-size: 1.15rem;
}

.logo a {
  color: #48C0D6;
}

.navigation--bar, 
.brand {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

.navigation--bar {
    width: 65%;
  }

.brand h1 {
  text-align: left;
  padding: 0 7rem;
  color: #48C0D6;
  font-size: 40px;
}
/* End of navigation menu */


/* Header section */
.header--container { 
  text-align: center;
  width: 70%;
  padding: 3rem;
  margin: 0 auto;
}

  .header--picture {
    border-radius: 50%;
    width: 30rem;
    padding-bottom: 1rem;
    margin: 0.5rem 0;
  }
/* End of header section */


/* Bio section */
.description--bio {
  font-size: 1.4rem;
  width: 40%;
  text-align: center;
  margin: 0 auto;
  padding: 2rem 5rem;
  line-height: 41px;
}
/* End of Bio section */


/* Studies section */
.studies--container {
  padding: 2rem 0;
  margin: 2rem 0;
  border-top: 1px solid #ddd;
}

  .school {
    display: inline-block;
    vertical-align: middle;
    width: 49.8%;
    text-align: center;
}

  .school img {
    height: 10rem;
  }

  .btn--school {
    display: inline-block;
    width: 4rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem; 
    color: white; 
    font-size: 1.2rem;
    background: #0039a6;
    text-decoration: none;
    border-radius: 5px;
}
/* End of Studies section */


/* Studies section */
.courses--container {
  padding: 2rem 0;
  margin: 2rem 0;
  text-align: center;
}

.courses {
  display: inline-block;
  width: 29%;
  text-align: center;
}

.courses > img {
    max-height: 12rem; 
    vertical-align: center;
}
/* End of Courses section */


/* Skills section */
.skills--container {
  padding: 2rem 1rem;
  margin: 2rem 1rem;
  text-align: center;
}

.skill {
	width: 18rem;
	height: 18rem;
	display:inline-block;
	margin: 1rem 1rem;
	padding: 1rem 2rem;
}

.skill > p {
  color:white;
  vertical-align: center;
  display:block;
  padding: 1rem;
  margin: 6rem auto;
  font-size: 1.4rem;
}

.one {
  background: #F25F5C;
}

.two {
  background: #FFE066;
}

.two p {
  color: #50514F;
}

.three {
  background: #247BA0;
}
/* End of Skills section */


/* Hobbies section */
.hobbies--container {
  padding: 2rem 0;
  margin: 2rem 0;
  text-align: center;
}
 
.hobbies {
  display: inline-block;
  text-align: center;
}

.hobbies > img {
    height: 14rem; 
    vertical-align: center;
    padding: 0rem 1rem;
}
/* End of Hobbies section */


/* Contact section */
.contact--container {
  padding: 2rem 1rem;
  margin: 2rem 1rem;
	text-align: center;
}

.contact--body p {
	display: inline-block;
  padding: 1rem 2.5rem;
  text-align: center;
}

.contact--body a:hover {
  color:#BAFF29;
  text-transform: bold;
}
/* End of Contact section */