/* General styles */
html, 
body {
	font-family: "Open Sans", Verdana, Arial; 
  font-size: 16px;
  border: 0;
  margin: 0;
  padding: 0;
  background:#fff;
}

 h4 {
  text-transform: uppercase;
}
/* End of General styles */

/* Header styles */
.header--container {
  background-image: url(../img/blue-gradients.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.cover {
  background:#fff;
  width: 100%
}

.header--decoration {
  width: 25rem;
  height: 0.3rem;
  border-top:1px solid white;
  border-bottom: 1px solid white;
  display:inline-block;
  margin: 0 1rem;
  box-shadow: 1px 2px 5px #efefef;
  background:#fff;
  border-radius: 2px;
}

  .header--style {
    position: absolute;
    top:100px;
    left:150px;
  }

    .hello,
    .myname,
    .favio,
    .uxdesigner {
      text-transform: uppercase;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3)
    }

    .hello,
    .favio {
      font-size: 7rem;
      line-height: 2rem; 
      margin: 0 1rem;
    }

    .myname,
    .uxdesigner {
      font-size: 5rem;
      line-height: 2rem; 
      color:#EDEDED;
    }

    .ampersand {
      padding: 0 1rem;
      display: inline-block;
      font-size: 5rem;
      vertical-align: middle: ;
      line-height: 2rem;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
      color:#EDEDED;
    }

    .uxdesigner {
      margin: 1rem;
    }

    .favio {
      color:#BAFF29;
    }

    .hello {
      color:white; 
    }
/* End of Header styles */

/* Nav bar styles */
nav {
  width: 100%;
  text-align:center;
  border-top: 2.5px solid #ddd;
  border-bottom: 2.5px solid #ddd;
  margin:0.1rem;
}

  .article {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
  }

    .article a {
      text-decoration: none;
      color: #005D83;
      padding: 0.5rem 1rem;
      margin: 0.5rem 0.5rem;
      font-size: 1.2rem;
    }

    .article a:hover {
      background:#BAFF29;
    }
/* End of Nav bar styles */

/* About styles */
.about--container {
  text-align: center;
  padding: 1rem auto;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%
  flex-wrap:wrap;
}

  .about--header, 
  .ux--header,
  .press--header,
  .design--header,
  .contact--header {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 2rem 0 1rem 0;
  }

  .about--decoration,
  .ux--decoration,
  .press--decoration,
  .design--decoration,
  .contact--decoration {
    width: 25rem;
    height: 0.4rem;
    border-top: 1px solid #C1C1C1;
    border-bottom: 1px solid #C1C1C1;
    display:inline-block;
    margin: 0 1rem;
    vertical-align: center;
  }

  .about--title,
  .ux--title,
  .press--title,
  .design--title,
  .contact--title {
    color: #005D83;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.8rem;
    vertical-align: center;
    margin: 1rem;
  }

  .about--img {
    display: inline-block;
    width: 33%;
    align-items: center;
  }

  .img--one, 
  .img--two {
    width:60%;
  }

  .about--article {
    max-width: 24rem;
    padding: 1rem;
    line-height: 2rem;
  }

    .who--title {
      font-size: 1.4rem;
      margin: 0.5rem 0 1.5rem;
      text-transform: capitalize;
    }

  .skills--container {
    width:33%;  
  }

    .skills--title {
     font-size: 1.4rem; 
    }

/* End of About styles */

/* UX Styles */
.btn--area {
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

  .ux--btn {
    border-radius: 30px;
    padding: 0.6rem 1.5rem;
    background: linear-gradient(to bottom, #274376 , #243B55);
    color:white;
    margin: 2rem;
    width:13%;
    text-align: center;
    font-size: 1rem;
    align-content: center;
    text-decoration: none;
  }

    .ux--btn i {
      font-size: 1.4rem;
    }

    .ux--btn span {
      font-size: 1.2rem;
     }

.ux--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

  .ux--img--container {
    width: 30%;
    padding: 1.5rem 0 1rem 0;
  }

    .circle {
      border-radius: 50%;
      height:12rem;
      border: 8px solid lightgray;
      box-shadow: 2px 4px 3px rgba(0,0,0,0.3)
    }

    .round {
      border-radius: 20%;
      height:12rem;
      border: 8px solid lightgray;
      box-shadow: 2px 4px 3px rgba(0,0,0,0.3)
    }
/* End of UX Styles */

/* Press styles */
.press--container {
  text-align: center;
  height:22rem;
}

  .press--img {
    height: 15rem;
    border-radius: 15px;
    border: 6px solid white;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3)
  }
/* End of Press styles */

/* Design styles */
.design--container {
  height: 23rem;
  display: flex;
}

  .design--icons {
    margin:1rem;
    text-align: center;
    width: 25%
  }
  
    .icon--background {
      display: flex;
      position:relative;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }

      .icon--background img {
        border-radius: 50%;
        height:12rem;
        width: 12rem;
        opacity: 0.3;
        border: 5px solid white;
        box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        vertical-align: center; 
      }  

      .icon2 {
        display: flex; 
        width: 6rem;
        height:6rem;
        position:absolute;
        justify-content: center;
        align-items:center;
      }

        .icon2 i {
          display: flex;
          color:white;
          font-size: 3.2rem;
          width: 6rem;
          height:6rem;
          border-radius: 50%;
          border: 5px solid white;
          box-shadow: 2px 4px 3px rgba(0,0,0,0.3); 
          position:absolute;
          opacity:0.65; 
          justify-content: center;
          align-items:center;
        }

          .fa-paint-brush{
            background:blue;
          }

          .fa-camera {
            background:green;
          }

          .fa-glide {
            background:orange;
          }

          .fa-first-order {
            background:red;
          }
/* End of Design styles */

/* Contact styles */
.contact--section {
  display: flex;
  justify-content: center;
}

  .contact--left {
    width: 35rem;
  }

    .live,
    .email {
      display: flex;
      flex-wrap: nowrap;
      height: 5rem;
    }

      .city,
      .mail {
        margin: 0 1rem;
      }

        i.fa.fa-envelope,
        i.fa.fa-map-marker {
          color:white;
          font-size: 1.5rem;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center; 
          opacity: 0.8;
        }

        .fa-map-marker {
         background: darkblue;
        }

        .fa-envelope {
          background: purple;
        }

    .iframe {
      border: 5px solid lightgray;
      box-shadow: 2px 4px 3px rgba(0,0,0,0.3); 
      width:400px;
      display: inline-block;
    }

    .social {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center; 
      margin:0.8rem;
    }

      .social a {
        text-decoration: none;
        color: black;
        font-size: 1.1rem
      } 

      .social i {
        color:white;
        font-size: 1.9rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center; 
        margin: 0.7rem 1rem;
      }

      .fa-facebook {
        background:#3b5998;
      }

      .fa-linkedin {
        background:#0077b5;
      } 

      .fa-twitter {
        background:#1da1f2;
      }

      .fa-wordpress {
        background:#21759b;
      }

      .fa-google-plus {
        background:#dd4b39;
      }
/* End of Contact styles */

.footer {
  margin:5% 10%;
  text-align: center;
}

.footer a {
  color:#005D83;
  text-decoration: none;
}

/* Media queries practice 

@media all and (min-width: 701px ) {
  body {background:yellow;}
}

@media all and (min-width: 1200x ) {
  body {background:red;}
}

@media all and (max-width: 700px ) {
  body {background:green;}
}

End of media queries practice */