* {
  margin: 0;
  border: 0;
  padding: 0;
}

html, 
body {
	font-family: "Open Sans", Verdana, Arial; 
  font-size: 16px;
  border: 0;
  margin: 0;
  padding: 0;
}

h1, 
h2, 
h3 {
  color: #48C0D6;
  text-align: center;
  font-size: 40px;
}

p, 
td, 
li {
  color: #515151;
  max-width: 1100px;
  text-align: center;
  padding-right: 15px;
}

p {
  font-size: 20px;
}


.header	{ 
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

  .header--title { 
    font-size: 3.5rem;
    padding: 3rem 0;
    margin: 1rem 0;
  }

  .header--profile {
    border-radius: 50%;
    width: 24rem;
    margin: 2rem 0;
  }

.description--title {
  font-size: 3.5rem;
  padding: 2rem 0;
}

.description--bio {
  font-size: 1.4rem;
  width: 40%;
  text-align: center;
  margin: 0 auto;
  padding: 1.5rem 5rem;
  line-height: 41px;
}

.courses img {
	text-align: center;
	display: inline-block;
	max-width: 300px;	
}

.studies--container {
  background: white;
  margin: 4rem 0;
  padding: 5rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

  .studies--title {
    font-size: 3.5rem;
    padding: 2rem 0;
    margin: 1rem 0;
  }

  .studies img {
  	max-width: 80%;	
  }

.itesm, .iteso {
  display: inline-block;
  vertical-align: middle;
  width: 49.8%;
  text-align: center;
}
  .itesm > img,
  .iteso > img {
    width: 40rem;
    height: 20rem;
  }

  .itesm--title, .iteso--title {
    font-size: 1rem;
  }

.latam	{ max-height: 200px; }

.square {
	width: 250px;
	height: 250px;
	background: #48C0D6;
	display:inline-block;
	margin-right: 20px;
	padding-right: 20px;
}

.center {
	text-align: center;
	max-width: 90%;
}


.line li {

	display: inline-block;
	text-align: center;
}

.center2 {
	text-align: center;
}

.white {
	color:white;

}